@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  background: #f2f2f2;
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.20);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  background: #ffffff;
  position: relative;


}

.logo-link {
  position: absolute;
  left: 70px;
  top: 0;
}

.logo-img {}

.nav {
  display: flex;
  justify-content: space-between;
  padding-left: 238px;
  padding-right: 70px;
  align-items: center;
}

.main-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.main-menu-item {
  padding: 20px 16px;
}

.main-menu-link {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
}

.user-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.user-menu-item {}

.user-menu-link {
  color: #000000;
  text-decoration: none;
  text-align: center;
}

.user-menu-link-button {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #756157;
  padding: 8px 34px;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
}

.favourites-number {}

.main {}

.welcome {
  background-image: url("../images/index/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  padding-bottom: 125px;
  /* padding-bottom установил временно для PP*/

}

.welcome-img {
  margin: 0 auto;
}

.advantages {
  background: #ffffff;
}

.advanteges-title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;

}

.advanteges-text {
  text-align: center;
  color: #333333;
  margin: 0;

}

.advantages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.advantages-list h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

.advantages-list p {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  text-align: center;
}

.advantages-item-1 {
  background-color: #82B3D3;
}

.advantages-item-2 {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-3 {
  background-color: rgba(131, 179, 211, 0.20);
}

.advantages-item-4 {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-5 {
  background-color: #82B3D3;
  padding-bottom: 350px;
  /* padding установил для pp*/
}

.advantages-item-1 h3 {
  color: #ffffff;
}

.advantages-item-2 h3 {}

.advantages-item-3 h3 {}

.advantages-item-4 h3 {}

.advantages-item-5 h3 {
  color: #ffffff
}

.advantages-item-1 p {
  color: #ffffff;
}

.advantages-item-2 p {
  color: #333333;

}

.advantages-item-3 p {
  color: #333333;
}

.advantages-item-4 p {
  color: #333333;
}

.advantages-item-5 p {
  color: #ffffff;
}


.advantages-image {}

.infrastructure {
  text-align: center;
}

.infrastructure-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.infrastructure-text {
  color: #333333;
  margin: 0;
  padding-bottom: 182px;
  /* padding установил для pp*/
}

.infrastructure-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;


}

.infrastructure-item-1 {
  background-color: rgba(131, 179, 211, 0.12);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 238px;
  padding: 147px 81px;
}

.infrastructure-item-2 {
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 238px;
  padding: 147px 81px;

}

.infrastructure-item-3 {
  background-color: rgba(131, 179, 211, 0.12);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 238px;
  padding: 147px 81px;
}

.infrastructure-list h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;

}

.infrastructure-list p {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}


.rastructure-point {}

.infrastructure-description {}

.hotel-search {
  text-align: center;
}

.hotel-search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.hotel-serch-text {
  color: #333333;
  margin: 0;
}

.hotel-serch-link {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756157;
}

.subscribe {
  background-image: url("../images/index/Subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #82B3D3;
  color: #FFFFFF;
  text-align: center;
}

.subscribe-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.ubscribe-text {}

.subscribe-form {}

.subscribe-email {
  border-radius: 4px 0px 0px 4px;
  background-color: #F2F2F2;
  color: #000000;
  border: 0;
  padding: 0;
}

.subscribe-button {
  color: #FFFFFF;

  background-color: #82B3D3;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  border-radius: 0px 4px 4px 0px;
  border: 0;
  padding: 0;
  padding-inline: 0;
  padding-block: 0;
}

.contacts {}

.social {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-item {}

.social-link {}

.phone {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
}

.logo-html-link {}