@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  background: #f2f2f2;
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.20);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  background: #ffffff;
  position: relative;


}

.logo-link {
  position: absolute;
  left: 70px;
  top: 0;
}

.logo-img {}

.nav {
  display: flex;
  justify-content: space-between;
  padding-left: 238px;
  padding-right: 70px;
  align-items: center;
}

.main-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
}

.main-menu-item {}

.main-menu-link {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  display: block;
  padding: 20px 16px;
}

.user-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.user-menu-item {}

.user-menu-link {
  color: #000000;
  text-decoration: none;
  text-align: center;
}

.user-menu-link-button {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #756157;
  padding: 8px 34px;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
}

.favourites-number {}

.main {}

.welcome {
  background-color: #dbe9f2;
  background-image: url("../images/index/triangles.svg"), url("../images/index/index-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 1200px 57px, cover;
  background-position: left bottom, center 0;
  text-align: center;
  padding-top: 51px;
  padding-bottom: 82px;
  color: #FFFFFF;
  min-height: 352px;
}

.welcome-img {
  margin: 0 auto;
  display: block;

}

.advantages {
  background: #ffffff;
  padding-top: 71px;
}

.advanteges-title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto 24px;
  width: 700px;
}

.advanteges-text {
  text-align: center;
  color: #333333;
  margin: 0 auto 89px;
  width: 700px;
}

.advantages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}


.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
  color: #333333;
}

.advantages-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.20);
  color: #333333;
}

.advantages-item:first-child {
  background-color: #82B3D3;
  color: #FFFFFF;

}

.advantages-item:last-child {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-heder {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
}


.advantages-description {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}


.infrastructure {
  text-align: center;
  padding-top: 65px
}

.infrastructure-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto 19px;
  width: 650px;
}

.infrastructure-text {
  color: #333333;
  margin: 0 auto 63px;
  width: 650px;

}

.infrastructure-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

}

.infrastructure-item {
  box-sizing: border-box;
  padding: 185px 86px 81px;
  width: 400px;
}

.infrastructure-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}


.infrastructure-heder {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 29px;
}

.infrastructure-description {
  margin: 0 auto;
  font-size: 18px;
  line-height: 21px;
}

.hotel-search {
  text-align: center;
  padding-top: 97px;
  padding-bottom: 96px;
}

.hotel-search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto 20px;
  width: 700px;
}

.hotel-serch-text {
  color: #333333;
  margin: 0 auto 53px;
  width: 700px;
}

.hotel-serch-link {
  display: inline-block;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756157;
  border-radius: 4px;
  padding: 7px 51px 8px 50px;
}

.subscribe {
  background-image: url("../images/index/Subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #82B3D3;
  color: #FFFFFF;
  text-align: center;
  padding-top: 97px;
  padding-bottom: 150px;
}

.subscribe-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto 21px;
  width: 700px;
}

.subscribe-text {
  margin: 0 auto 53px;
  width: 545px;
}

.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: flex-start;
  padding: 0px 258px;

}

.subscribe-email {
  font-size: 18px;
  line-height: 24px;
  border-radius: 4px 0px 0px 4px;
  background-color: #F2F2F2;
  color: #000000;
  border: 0;
  padding: 0 0 37px 290px;

}

.subscribe-button {
  color: #FFFFFF;

  background-color: #82B3D3;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  border-radius: 0px 4px 4px 0px;
  border: 0;
  padding: 0;
  padding-inline: 0;
  padding-block: 0;
}

.contacts {}

.social {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-item {}

.social-link {}

.phone {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
}

.logo-html-link {}