@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  background: #f2f2f2;
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  width: 1200px;
  min-height: 100vh;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
  display: flex;
  flex-direction: column;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  background: #ffffff;
  position: relative;
}

.logo-link {
  position: absolute;
  left: 70px;
  top: 0;
}

.logo-link:hover {
  opacity: 0.6;
}

.logo-link:focus {
  outline: none;
  opacity: 0.6;
}

.logo-link:active {
  opacity: 0.3;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-left: 238px;
  padding-right: 70px;
  align-items: flex-start;
}

.main-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
}

.main-menu-link {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  display: block;
  padding: 20px 16px;
  position: relative;
}


.main-menu-link-active::after {
  content: "";
  width: calc(100% - 32px);
  height: 1px;
  border-bottom: 2px solid #756257;
  position: absolute;
  left: 16px;
  bottom: 0;
}

.main-menu-link:hover {
  color: #82B3D3;
  border-radius: 5px;
}

.main-menu-link:focus {
  outline: none;
  color: #82B3D3;
  border-radius: 5px;
}

.main-menu-link:active {
  color: #82B3D3;
  opacity: 40%;
}

.user-menu {
  list-style-type: none;
  margin: 0;
  padding: 14px 0 0;
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  row-gap: 26px;
}

.user-menu-link {
  color: #000000;
  text-decoration: none;
  text-align: center;
  width: 44px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.user-menu-link-last {
  margin-right: 20px;
}

.user-menu-link:hover {
  color: #82B3D3;
}


.user-menu-link:focus {
  outline: none;
  color: #82B3D3;
}

.user-menu-link:active {
  color: #82B3D3;
  opacity: 40%;
}

.favourites-number {
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
  background-color: #7DB54F;
  position: absolute;
  right: 4px;
  bottom: 50%;
  min-width: 20px;
  height: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4px;
}

.user-menu-link:hover .favourites-number {
  background-color: #6C9E42;

}

.user-menu-link:focus .favourites-number {
  outline: none;
  background-color: #6C9E42;
}

.user-menu-link:active .favourites-number {
  background-color: #7DB54F;
}

.user-menu-link-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #756157;
  color: #ffffff;
  text-decoration: none;
  padding: 9px 34px 7px;
  border-radius: 4px;
  display: block;
}



.user-menu-link-button:hover {
  background-color: #615048;
}

.user-menu-link-button:focus {
  outline: none;
  background-color: #615048;
}

.user-menu-link-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.30);
}

.button-link-disabled {
  background-color: #E5E5E5;
}

.button-link-disabled:hover {
  background-color: #E5E5E5;
}

.button-link-disabled:focus {
  outline: none;
  background-color: #E5E5E5;
}

.button-link-disabled:active {
  background-color: #E5E5E5;
  color: #ffffff;
}

.main {
  flex-grow: 1;
}

.welcome {
  background-color: #dbe9f2;
  background-image: url("../images/index/triangles.svg"), url("../images/index/index-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 1200px 57px, cover;
  background-position: left bottom, center 0;
  text-align: center;
  padding-top: 51px;
  padding-bottom: 82px;
  color: #FFFFFF;
  min-height: 352px;
}

.welcome-img {
  margin: 0 auto;
  display: block;

}

.advantages {
  background: #ffffff;
  padding-top: 70px;
}

.advanteges-title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto 26px;
  width: 700px;
}

.advanteges-text {
  text-align: center;
  color: #333333;
  margin: 0 auto 88px;
  width: 700px;
}

.advantages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.advantages-item:nth-child(2n+1) {
  background: rgba(131, 179, 211, 0.20);
}

.wrapper-advantages-item {
  width: 400px;
  box-sizing: border-box;
  padding: 114px 80px 112px;
}

.advantages-header {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 0 34px 30px;
  margin: 0 0 31px;
  position: relative;
}

.advantages-header::after {
  content: "";
  width: 60px;
  height: 2px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.30);
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 0;
}

.advantages-item-mod .advantages-header::after {
  content: "";
  border-color: rgba(255, 255, 255, 0.30);
}


.advantages-description {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.advantages-image {
  height: auto;
  object-fit: cover;
}

.advantages-item-mod .wrapper-advantages-item {
  background-color: #82B3D3;
  padding-top: 103px;
  padding-bottom: 30px;
  color: #FFFFFF;
}

.advantages-item-mod .advantages-header {
  margin-bottom: 31px;
}

.advantages-item-mod .advantages-description {
  color: #FFFFFF;
}

.infrastructure {
  text-align: center;
  padding-top: 64px
}

.infrastructure-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto 21px;
  width: 650px;
}

.infrastructure-text {
  color: #333333;
  margin: 0 auto 63px;
  width: 650px;
}

.infrastructure-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

.infrastructure-item {
  box-sizing: border-box;
  padding: 184px 86px 81px;
  width: 400px;
  position: relative;
}

.infrastructure-item::before {
  content: "";
  width: 75px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -36px;
  top: 81px;
}

.infrastructure-item-house::before {
  content: url("../images/icons/house.svg");
}

.infrastructure-item-meal::before {
  content: url("../images/icons/burger.svg");
}

.infrastructure-item-souvenirs::before {
  content: url("../images/icons/souvenirs.svg");
}

.infrastructure-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}


.infrastructure-header {
  margin: 0 auto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 31px;
}

.infrastructure-description {
  margin: 0 auto;
  font-size: 18px;
  line-height: 21px;
}

.hotel-search {
  text-align: center;
  padding-top: 95px;
  padding-bottom: 95px;
}

.hotel-search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto 21px;
  width: 700px;
}

.hotel-serch-text {
  color: #333333;
  margin: 0 auto 53px;
  width: 700px;
}

.hotel-serch-link {
  display: inline-block;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756157;
  border-radius: 4px;
  box-sizing: border-box;
  width: 376px;
  padding: 8px 50px 8px 50px;
}

.hotel-serch-link:hover {
  background-color: #615048;
}

.hotel-serch-link:focus {
  outline: none;
  background-color: #615048;
}

.hotel-serch-link:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.30);
}

.subscribe {
  background-color: rgba(130, 178, 211, 0.7);
  background-image: url("../images/index/subscribe-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #FFFFFF;
  text-align: center;
  padding-top: 97px;
  padding-bottom: 104px;
}

.subscribe-title-catalog {
  color: #000000;
}

.subscribe-text-catalog {
  color: #333333;
}

.subscribe-catalog {
  background-color: transparent;
  background-image: none;
}

.subscribe-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto 21px;
  width: 700px;
}

.subscribe-text {
  margin: 0 auto 53px;
  width: 545px;
}

.subscribe-form {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
}

.subscribe-email {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  border-radius: 4px 0 0 4px;
  background-color: #F2F2F2;
  color: #000000;
  border: 0;
  width: 452px;
  box-sizing: border-box;
  padding: 12px 18px;
  border: 2px solid transparent;
}

.subscribe-email:hover {
  background-color: #E6E6E6;
}

.subscribe-email:focus {
  border: 2px solid transparent;
  outline: 4px solid #83B3D3;
  background-color: #E6E6E6;
}

.subscribe-email:active {
  outline: none;
  border: 2px solid #000000;
}

.subscribe-button {
  font-family: inherit;
  color: #FFFFFF;
  background-color: #82B3D3;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  border-radius: 0 4px 4px 0;
  border: 0;
  width: 232px;
  box-sizing: border-box;
  padding: 9px 0 7px 0;
  cursor: pointer;
}

.subscribe-button:hover {
  background-color: #68A2CA;
}

.subscribe-button:focus-visible {
  outline: none;
  background-color: #68A2CA;
}

@supports not selector(:focus-visible) {
  .subscribe-button:focus {
    outline: none;
    background-color: #68A2CA;
  }
}

.subscribe-button:active {
  background-color: #68A2CA;
  opacity: 0.3;
}

.subscribe-button:disabled {
  background-color: #E5E5E5;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: 46px;
  padding-bottom: 33px;
}

.social {
  list-style-type: none;
  box-sizing: border-box;
  margin: 0;
  width: 240px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 0 71px;
}

.social-link {
  color: #83B3D3;
  width: 47px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link:hover {
  color: #68A2CA;
}

.social-link:focus {
  outline: none;
  color: #68A2CA;
}

.social-link:active {
  color: #68A2CA;
  opacity: 0.3;
}

.wrapper-phone {
  box-sizing: border-box;
  width: 720px;
  padding-left: 208px;
}

.phone {
  color: inherit;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration-line: none;
  display: block;
}

.phone:hover {
  color: #756157;
}

.phone:focus {
  outline: none;
  color: #756157;
}

.phone:active {
  color: rgba(117, 97, 87, 0.30);
}

.logo-html-link {
  width: 240px;
  box-sizing: border-box;
  padding: 2px 0 0 55px;
  color: #000000;
}

.logo-html-link:hover {
  color: #756157;
}

.logo-html-link:focus {
  outline: none;
  color: #756157;
}

.logo-html-link:active {
  color: #756157;
  opacity: 0.3;
}

.search-form {
  color: #FFFFFF;
  background-color: #82B3D3;
  background-image: url("../images/catalog/form-beck.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 36px 70px 16px 70px;
}

.hotels-title {
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin-bottom: 3px;
}

.breadcrumb-list {
  margin: 0 0 38px;
  padding: 0;
  list-style-type: none;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 9px;
}

.breadcrumb-item {
  position: relative;
}


.breadcrumb-link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumb-link-level {
  padding: 6px 10px 2px 18px;
}

.breadcrumb-item-level::before {
  content: "";
  width: 9px;
  height: 12px;
  background-image: url("../images/icons/arrow.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  left: 0;
  top: 9px;
}

.breadcrumb-link-index {
  width: 14px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.breadcrumb-link:hover {
  opacity: 0.6;
}

.breadcrumb-link:focus {
  outline: none;
  opacity: 0.6;
}

.breadcrumb-link:active {
  opacity: 0.3;
}

.hotels-search {
  display: flex;
  flex-wrap: wrap;
}

.infrastructure-search {
  margin: 0 40px 0 0;
  padding: 0;
  border: none;
  width: 180px;
}

.form-title {
  padding: 0 0 30px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.form-title-prices {
  padding-bottom: 32px;
}

.infrastructure-search-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.infrastructure-search-item {
  margin: 0 0 13px;
}

.checkbox-label {
  font-size: 18px;
  line-height: 23px;
  position: relative;
  display: inline-block;
  padding-left: 36px;
  cursor: pointer;
}

.checkbox-label::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #FFFFFF;
  position: absolute;
  left: 0;
  top: 0;
}

.checkbox-label::after {
  content: "";
  width: 10px;
  height: 4px;
  border-left: 2px solid #3F5E72;
  border-bottom: 2px solid #3F5E72;
  background-color: #FFFFFF;
  position: absolute;
  transform: rotate(-45deg);
  left: 5px;
  top: 6px;
  display: none;
}

.infrastructure-checkbox:checked+.checkbox-label::after {
  display: block;
}

.checkbox-label:hover {
  opacity: 0.6;
}

.infrastructure-checkbox:focus+.checkbox-label::before {
  outline: 3px solid #83B3D3;
}

.infrastructure-checkbox:focus:not(:focus-visible)+.checkbox-label::before {
  outline: none;
}

.infrastructure-checkbox:focus-visible+.checkbox-label::before {
  outline: 3px solid #83B3D3;
}

.checkbox-label:active {
  opacity: 0.3;
}

.house-type {
  margin: 0 60px 0 0;
  padding: 0;
  border: none;
  width: 231px;
}

.house-type-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.house-type-item {
  margin-bottom: 13px;
}

.radio-label {
  font-size: 18px;
  line-height: 23px;
  display: inline-block;
  position: relative;
  padding-left: 36px;
  cursor: pointer;
}

.radio-label::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #FFFFFF;
  position: absolute;
  left: 0;
  top: 0;
}

.radio-label::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #3F5E72;
  position: absolute;
  left: 5px;
  top: 5px;
  display: none;
}

.house-type-radio:checked+.radio-label::after {
  display: block;
}

.radio-label:hover {
  opacity: 0.6;
}

.house-type-radio:focus+.radio-label::before {
  outline: 3px solid #83B3D3;
}

.house-type-radio:focus:not(:focus-visible)+.radio-label::before {
  outline: none;
}

.house-type-radio:focus-visible+.radio-label::before {
  outline: 3px solid #83B3D3;
}


.radio-label:active {
  opacity: 0.3;
}

.prices {
  margin: 0 70px 0 0;
  padding: 0;
  border: none;
  width: 288px;
}

.prices-list {
  margin: 0 0 36px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0 2px;
}

.prices-item {
  display: inline-block;
  position: relative;
}

.prices-range {
  color: #000000;
  background-color: #F2F2F2;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  width: 143px;
  box-sizing: border-box;
  padding: 12px 44px 9px 18px;
  margin: 0;
  appearance: none;
  -moz-appearance: textfield;
  border: 2px solid transparent;
}

.prices-range-min {
  border-radius: 4px 0 0 4px;
}

.prices-range-max {
  border-radius: 0 4px 4px 0;
}

.prices-range::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.prices-range::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.prices-range:hover {
  background-color: #E6E6E6;
}

.prices-range:focus {
  outline: 4px solid #83B3D3;
  border: 2px solid transparent;
  background-color: #E6E6E6;
  z-index: 5;
  position: relative;
}


.prices-range:active {
  outline: none;
  border: 2px solid #000000;
}

.prices-label {
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  opacity: 0.3;
  width: 20px;
  height: 24px;
  position: absolute;
  right: 18px;
  top: 50%;
  margin-top: -12px;
  z-index: 10;
}

.range-slider {
  width: 288px;
  height: 20px;
  position: relative;
  margin: 0 0 25px;
}

.range-slider::before {
  content: "";
  width: 288px;
  height: 4px;
  border-bottom: 4px solid #FFFFFF;
  opacity: 0.3;
  position: absolute;
  left: 0;
  top: 4px;
}

.range-slider::after {
  content: "";
  width: 75%;
  height: 4px;
  border-bottom: 4px solid #ffffff;
  position: absolute;
  left: 0;
  top: 4px;
}

.range-slider-button {
  border: none;
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  position: absolute;
  top: 0px;
  cursor: pointer;
  z-index: 5;
}

.prices-max {
  left: 207px;
}

.range-slider-button:focus-visible {
  outline: 3px solid #83B3D3;
}

@supports not selector(:focus-visible) {
  .range-slider-button:focus {
    outline: 3px solid #83B3D3;
  }
}

.range-slider-button:active {
  outline: 2px solid #83B3D3;
}

.search-button-list {
  width: 190px;
  margin: 0;
  padding: 56px 0 20px;
  list-style-type: none;
}

.search-button-item {
  margin-bottom: 33px;
}

.search-button-submit {
  display: block;
  box-sizing: border-box;
  padding: 8px 50px;
  border: none;
  background-color: #82B3D3;
  color: #FFFFFF;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
}

.search-button-submit:hover {
  background-color: #68A2CA;
}

.search-button-submit:focus {
  outline: none;
  background-color: #68A2CA;
}

.search-button-submit:active {
  background-color: #82B3D3;
  opacity: 0.3;
}

.search-button-submit:disabled {
  background-color: #E5E5E5;
}


.search-button-reset {
  display: block;
  box-sizing: border-box;
  padding: 5px 55px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: #FFFFFF;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  border: 3px solid transparent;
  cursor: pointer;
}

.search-button-reset:hover {
  opacity: 0.6;
}

.search-button-reset:focus {
  outline: none;
  border: 3px solid #83B3D3;
}

.search-button-reset:focus:not(:focus-visible) {
  outline: none;
  border: 3px solid transparent;
}



.search-button-reset:focus-visible {
  opacity: 0.6;
  border: 3px solid #83B3D3;
}

.search-button-reset:active {
  opacity: 0.3;
}

.search-button-reset:disabled {
  opacity: 0.1;
}

.hotel-catalog {
  padding: 50px 70px 0;

}

.wrap-hotel-catalog {
  position: relative;
  padding-bottom: 40px;
}

.sorting {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px 20px;
  padding-bottom: 40px;
}

.hotels-found {
  margin: 0;
  padding-top: 8px;
  width: 486px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.wrap-select-sort {
  width: 292px;
  position: relative;
}

.select-sort {
  appearance: none;
  width: 292px;
  padding: 14px 10px 10px 19px;
  padding-left: 19px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
}

.wrap-select-sort::before {
  content: "";
  background-image: url("../images/icons/select.svg");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: auto;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 18px;
  top: 20px;
  transition: transform 0.5s;
}

.wrap-select-sort:focus-within:before {
  transform: rotate(180deg);
}

.select-sort:hover {
  border-color: #68A2CA;
}

.select-sort:focus-visible {
  outline: none;
  border-color: #68A2CA;
}

@supports not selector(:focus-visible) {
  .select-sort:focus {
    outline: none;
    border-color: #68A2CA;
  }
}


.select-sort:active {
  outline: none;
  border-color: #3F5E72;
}

.select-sort:disabled {
  opacity: 0.3s;
}

.view-list {
  width: 180px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 12px 8px;
}


.view-button {
  padding: 0;
  width: 48px;
  height: 48px;
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  cursor: pointer;
}

.button-active {
  border: 2px solid #000000;
}

.button-grid {
  background-image: url("../images/icons/grid.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto;
}

.button-column {
  background-image: url("../images/icons/column.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto;
}

.button-list {
  background-image: url("../images/icons/list.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto;
}

.view-button:hover {
  border: 2px solid #000000;
}

.view-button:focus-visible {
  outline: none;
  border: 2px solid #68A2CA;
}

@supports not selector(:focus-visible) {
  .view-button:focus {
    outline: none;
    border: 2px solid #68A2CA;
  }
}

.view-button:active {
  border: 2px solid #000000;
}

.hotel-card-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 18px 20px;
  margin-bottom: 39px;
}

.hotel-card {
  width: 340px;
  padding: 21px 19px 16px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
}

.hotel-card-image-link {
  display: block;
  margin-bottom: 16px;
}

.hotel-card-image {
  margin: 0 auto;
  display: block;
  object-fit: cover;
}

.hotel-card-image-link:hover {
  opacity: 0.6;
}

.hotel-card-image-link:focus-visible {
  outline: none;
  opacity: 0.6;
}

@supports not selector(:focus-visible) {
  .hotel-card-image-link:focus {
    outline: none;
    opacity: 0.6;
  }
}

.hotel-card-image-link:active {
  opacity: 0.3;
}

.hotel-card-title-link {
  text-decoration: none;
  display: block;
  margin-bottom: 16px;
}

.hotel-card-title-link:hover {
  opacity: 0.6;
}

.hotel-card-title-link:focus-visible {
  outline: none;
  opacity: 0.6;
}

@supports not selector(:focus-visible) {
  .hotel-card-title-link:focus {
    outline: none;
    opacity: 0.6;
  }
}

.hotel-card-title-link:active {
  opacity: 0.3;
}

.hotel-card-title {
  margin: 0;
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}


.wrap-hotel-card {
  display: grid;
  grid-template-columns: 140px 140px;
  align-items: start;
  gap: 16px 20px;
}

.hotel-card-type {
  color: #333333;
  font-size: 18px;
  line-height: 21px
}

.hotel-card-price {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}

.hotel-card-details {
  background-color: #756157;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 8px;
}

.hotel-card-details:hover {
  background-color: #615048;
}

.hotel-card-details:focus {
  outline: none;
  background-color: #615048;
}

.hotel-card-details:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.30);
}

.hotel-card-favourites {
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #82B3D3;
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.hotel-card-favourites:hover {
  background-color: #68A2CA;
}

.hotel-card-favourites:focus {
  outline: none;
  background-color: #68A2CA;
}

.hotel-card-favourites:active {
  background-color: #82B3D3;
  opacity: 0.3;
}

.hotel-card-favourites:disabled {
  background-color: #E5E5E5;
}

.hotel-card-favourites-added {
  background-color: #7DB54F;
}

.hotel-card-favourites-added:hover {
  background-color: #6C9E42;
}

.hotel-card-favourites-added:focus {
  outline: none;
  background-color: #6C9E42;
}

.hotel-card-favourites-added:active {
  background-color: #7DB54F;
  opacity: 0.3;
}

.hotel-card-favourites-added:disabled {
  background-color: #E5E5E5;
}

.hotel-card-stars-1 {
  background-image: url("../images/icons/star.svg");
  background-position: center;
  background-repeat: space no-repeat;
  background-size: auto;
  width: 36px;
  height: 37px;
}

.hotel-card-stars-2 {
  background-image: url("../images/icons/star.svg");
  background-position: center;
  background-repeat: space no-repeat;
  background-size: auto;
  width: 43px;
  height: 37px;
}

.hotel-card-stars-3 {
  background-image: url("../images/icons/star.svg");
  background-position: center;
  background-repeat: space no-repeat;
  background-size: auto;
  width: 67px;
  height: 37px;
}

.hotel-card-stars-4 {
  background-image: url("../images/icons/star.svg");
  background-position: center;
  background-repeat: space no-repeat;
  background-size: auto;
  width: 89px;
  height: 37px;
}

.hotel-card-stars-5 {
  background-image: url("../images/icons/star.svg");
  background-position: center;
  background-repeat: space no-repeat;
  background-size: auto;
  width: 108px;
  height: 37px;
}

.hotel-card-rate {
  color: #333333;
  font-size: 16px;
  background-color: #F2F2F2;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
}

.pagination {
  margin: 0 0 20px;
  padding: 40px 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  border-top: 1px solid #E6E6E6;
}

.pagination-item-link {
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: #82B3D3;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  display: block;
  text-align: center;
  box-sizing: border-box;
  min-width: 60px;
  padding: 11px 10px 12px;
}

.pagination-link-active {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-link-more {
  background-color: transparent;
  color: #000000;
}

.pagination-item-link:hover:not(.pagination-link-active, .pagination-link-more) {
  background-color: #68A2CA;
  border: 1px solid #68A2CA;
}

.pagination-item-link:focus-visible {
  outline: none;
}

.pagination-item-link:focus-visible:not(.pagination-link-active, .pagination-link-more) {
  background-color: #68A2CA;
  border: 1px solid #68A2CA;
}

@supports not selector(:focus-visible) {
  .pagination-item-link:focus {
    outline: none;
  }

  .pagination-item-link:focus-visible:not(.pagination-link-active, .pagination-link-more) {
    background-color: #68A2CA;
    border: 1px solid #68A2CA;
  }
}

.pagination-item-link:active:not(.pagination-link-active, .pagination-link-more) {
  background-color: #82B3D3;
  border: 1px solid transparent;
  opacity: 0.3;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.80);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close {
  display: none;
}

.modal-window {
  width: 718px;
  min-height: 400px;
  box-sizing: border-box;
  padding: 64px 70px;
  border-radius: 30px;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}

.modal-close-button {
  border: none;
  background-color: transparent;
  padding: 0;
  width: 52px;
  height: 52px;
  border-radius: 26px;
  background-color: #F2F2F2;
  position: absolute;
  right: 52px;
  top: 63px;
}

.close-button-cross::after,
.close-button-cross::before {
  content: "";
  width: 18px;
  height: 2px;
  background-color: #000000;
  position: absolute;
  left: 50%;
  margin-left: -9px;
  top: 50%;
  margin-top: -1px;
}

.close-button-cross::before {
  transform: rotate(45deg);
}

.close-button-cross::after {
  transform: rotate(-45deg);
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  outline: 3px solid #83B3D3;
  opacity: 1;
}

.modal-close-button:focus:not(:focus-visible) {
  outline: none;
}

.modal-close-button:focus-visible {
  outline: 3px solid #83B3D3;
  opacity: 1;
}

.modal-close-button:active {
  background-color: #E6E6E6;
}

.modal-close-button:active .close-button-cross::before,
.modal-close-button:active .close-button-cross::after {
  opacity: 0.3;
}

.modal-content-title {
  margin: 0 0 63px;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}


.group-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  width: 137px;
  padding-top: 12px;
}

.wrap-fied {
  position: relative;
}

.field {
  height: 48px;
  box-sizing: border-box;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  background-color: #F2F2F2;
  display: block;
}

.field::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.field::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.field::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.field-date {
  padding-right: 55px;
  width: 440px;
  padding: 0 0 0 21px;
  border-radius: 4px;
}

.field-guests {
  padding: 0 5px;
  width: 31px;
  line-height: 20px;
  text-align: center;
  appearance: none;
  -moz-appearance: textfield;
  margin: 0;
  z-index: 5;
  position: relative;
}

.field-guests::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button-form {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.wrap-button-calendar {
  position: relative;
}

.button-calendar {
  width: 54px;
  height: 49px;
  color: #000000;
  opacity: 0.3;
  position: absolute;
  right: 1px;
  top: 1px;
}

.button-calendar:hover {
  color: #83B3D3;
  opacity: 1;
}

.button-calendar:focus-visible {
  outline: none;
  color: #83B3D3;
  opacity: 1;
}

@supports not selector(:focus-visible) {
  .button-calendar:focus {
    outline: none;
    color: #83B3D3;
    opacity: 1;
  }
}

.button-calendar:active {
  opacity: 0.3;
}

.field-message {
  margin: 0;
  box-sizing: border-box;
  width: 440px;
  color: #333333;
  font-size: 16px;
  line-height: 21px;
  display: block;
  padding: 4px 21px 7px;
}

.massage-alarm {
  color: #FF5757;
}

.form-group-guest {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 49px;
}

.group-title-children {
  width: 54px;
}

.guest-group {
  display: flex;
  flex-wrap: wrap;
}

.number-guest {
  display: flex;
}

.delete-guests,
.add-guest {
  width: 40px;
  height: 48px;
  background-color: #F2F2F2;
  position: relative;
}

.delete-guests {
  border-radius: 4px 0 0 4px;
}

.button-minus {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 50%;
  margin-left: -10px;
  border: 3px solid transparent;
  border-radius: 4px;
}

.button-minus::before {
  content: "";
  width: 14px;
  height: 2px;
  background-color: #b1a7a2;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -7px;
}

.add-guest {
  border-radius: 0 4px 0 4px;
}

.button-plus {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 50%;
  margin-left: -10px;
  border: 3px solid transparent;
  border-radius: 4px;
}

.button-plus::before,
.button-plus::after {
  content: "";
  width: 14px;
  height: 2px;
  background-color: #b1a7a2;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -7px;
}

.button-plus::after {
  transform: rotate(90deg);
}

.quantity-button:hover .button-plus::before,
.quantity-button:hover .button-plus::after,
.quantity-button:hover .button-minus::before {
  background-color: #000000;
}

.quantity-button:focus {
  outline: none;
}

.quantity-button:focus-visible .button-minus,
.quantity-button:focus-visible .button-plus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
  opacity: 1;
}

@supports not selector(:focus-visible) {

  .quantity-button:focus .button-minus,
  .quantity-button:focus .button-plus {
    border: 3px solid #83B3D3;
    border-radius: 4px;
    opacity: 1;
  }
}

.quantity-button:focus-visible .button-plus::before,
.quantity-button:focus-visible .button-plus::after,
.quantity-button:focus-visible .button-minus::before {
  background-color: #000000;
}

@supports not selector(:focus-visible) {

  .quantity-button:focus .button-plus::before,
  .quantity-button:focus .button-plus::after,
  .quantity-button:focus .button-minus::before {
    background-color: #000000;
  }
}

.quantity-button:active .button-plus::before,
.quantity-button:active .button-plus::after,
.quantity-button:active .button-minus::before {
  opacity: 0.2;
}

.tooltip {
  height: 48px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 41px;
  position: relative;
}

.tooltip-button {
  width: 26px;
  height: 26px;
  border-radius: 13px;
  background-color: #83B3D3;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip-button:hover {
  background-color: #68A2CA;
  color: #000000;
}

.tooltip:hover .tooltip-button {
  background-color: #68A2CA;
  color: #000000;
}

.tooltip-button:focus-visible {
  outline: none;
  background-color: #68A2CA;
  color: #000000;
}

@supports not selector(:focus-visible) {
  .tooltip-button:focus {
    outline: none;
    background-color: #68A2CA;
    color: #000000;
  }
}

.tooltip-button:active {
  background-color: #68A2CA;
  opacity: 0.3;
}

.tooltip-button:disabled {
  background-color: #E5E5E5;
}

.tooltip-text {
  color: #ffffff;
  background-color: #333333;
  width: 256px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 21px 22px;
  position: absolute;
  left: 50%;
  margin-left: -128px;
  top: 50px;
  display: none;
}

.tooltip-text::before {
  content: "";
  border: 10px solid transparent;
  border-bottom: 12px solid #333333;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  top: -19px;
}

.tooltip-button:hover+.tooltip-text,
.tooltip:hover .tooltip-text {
  display: block;
}

.tooltip-button:focus-visible+.tooltip-text,
.tooltip:focus-visible .tooltip-text {
  display: block;
}

@supports not selector(:focus-visible) {

  .tooltip-button:focus+.tooltip-text,
  .tooltip:focus .tooltip-text {
    display: block;
  }
}

.button-search-hotel {
  color: #ffffff;
  width: 577px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  background-color: #83b3d3;
  border-radius: 10px;
  padding: 18px 20px;
}

.button-search-hotel:hover {
  background-color: #68a2ca;
}

.button-search-hotel:focus-visible {
  outline: none;
  background-color: #68a2ca;
}

@supports not selector(:focus-visible) {
  .button-search-hotel:focus {
    outline: none;
    background-color: #68a2ca;
  }
}

.button-search-hotel:active {
  background-color: #68A2CA;
  opacity: 0.3;
}

.button-search-hotel:disabled {
  background-color: #E5E5E5;
}