@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  background: #f2f2f2;
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  width: 1200px;
  min-height: 100vh;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
  display: flex;
  flex-direction: column;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  background: #ffffff;
  position: relative;
}

.logo-link {
  position: absolute;
  left: 70px;
  top: 0;
}

.logo-link:hover {
  left: 65px;
}

.logo-link:focus {
  outline: none;
  left: 65px;
}


.nav {
  display: flex;
  justify-content: space-between;
  padding-left: 238px;
  padding-right: 70px;
  align-items: flex-start;
}

.main-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
}

.main-menu-item {}

.main-menu-link {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  display: block;
  padding: 20px 16px;
  position: relative;
}


.main-menu-link-active::after {
  content: "";
  width: 68px;
  height: 1px;
  border-bottom: 2px solid #756257;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -34px;
}

.main-menu-link:hover {
  color: #82B3D3;
  border-radius: 5px;
}

.main-menu-link:focus {
  outline: none;
  color: #82B3D3;
  border-radius: 5px;
}

.main-menu-link:active {
  color: #82B3D3;
  opacity: 40%;
}

.user-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.user-menu-item {}

.user-menu-link {
  color: #000000;
  text-decoration: none;
  text-align: center;
  width: 44px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.user-menu-link-last {
  margin-right: 20px;
}

.user-menu-link:hover {
  color: #82B3D3;
}


.user-menu-link:focus {
  outline: none;
  color: #82B3D3;
}

.user-menu-link:active {
  color: #82B3D3;
  opacity: 40%;
}

.favourites-number {
  color: #FFFFFF;
  font-size: 10px;
  line-height: 10px;
  background-color: #7DB54F;
  position: absolute;
  right: 4px;
  bottom: 50%;
  min-width: 20px;
  height: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4px;
}

.user-menu-link:hover .favourites-number {
  background-color: #6C9E42;

}

.user-menu-link:focus .favourites-number {
  outline: none;
  background-color: #6C9E42;
}

.user-menu-link:active .favourites-number {
  background-color: #7DB54F;

}

.user-menu-link-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #756157;
  color: #ffffff;
  text-decoration: none;
  padding: 9px 35px 6px;
  border-radius: 4px;
  display: block;

}



.user-menu-link-button:hover {
  background-color: #615048;
}

.user-menu-link-button:focus {
  outline: none;
  background-color: #615048;
}

.user-menu-link-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.30);
}

.main {
  flex-grow: 1;
}

.welcome {
  background-color: #dbe9f2;
  background-image: url("../images/index/triangles.svg"), url("../images/index/index-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 1200px 57px, cover;
  background-position: left bottom, center 0;
  text-align: center;
  padding-top: 51px;
  padding-bottom: 82px;
  color: #FFFFFF;
  min-height: 352px;
}

.welcome-img {
  margin: 0 auto;
  display: block;

}

.advantages {
  background: #ffffff;
  padding-top: 70px;
}

.advanteges-title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto 26px;
  width: 700px;
}

.advanteges-text {
  text-align: center;
  color: #333333;
  margin: 0 auto 88px;
  width: 700px;
}

.advantages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.advantages-item:nth-child(2n+1) {
  background: rgba(131, 179, 211, 0.20);
}

.wrapper-advantages-item {
  width: 400px;
  box-sizing: border-box;
  padding: 114px 80px 112px;
}

.advantages-header {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 0 34px 30px;
  margin: 0 0 31px;
  position: relative;
}

.advantages-header::after {
  content: "";
  width: 60px;
  height: 2px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.30);
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 0;
}

.advantages-item-mod .advantages-header::after {
  content: " ";
  border-color: rgba(255, 255, 255, 0.30);
}


.advantages-description {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.advantages-image {
  height: auto;
  object-fit: cover;
}

.advantages-item-mod .wrapper-advantages-item {
  background-color: #82B3D3;
  padding-top: 103px;
  padding-bottom: 30px;
  color: #FFFFFF;
}

.advantages-item-mod .advantages-header {
  margin-bottom: 31px;
}

.advantages-item-mod .advantages-description {
  color: #FFFFFF;
}

.infrastructure {
  text-align: center;
  padding-top: 64px
}

.infrastructure-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto 21px;
  width: 650px;
}

.infrastructure-text {
  color: #333333;
  margin: 0 auto 63px;
  width: 650px;

}

.infrastructure-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 400px 400px 400px;


}

.infrastructure-item {
  box-sizing: border-box;
  padding: 184px 86px 81px;
  width: 400px;
  position: relative;
}

.infrastructure-item::before {
  content: "";
  width: 75px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -36px;
  top: 81px;
}

.infrastructure-item-house::before {
  content: url("../images/icons/house.svg");
}

.infrastructure-item-meal::before {
  content: url("../images/icons/burger.svg");
}

.infrastructure-item-souvenirs::before {
  content: url("../images/icons/souvenirs.svg");
}

.infrastructure-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}


.infrastructure-header {
  margin: 0 auto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 31px;
}

.infrastructure-description {
  margin: 0 auto;
  font-size: 18px;
  line-height: 21px;
}

.hotel-search {
  text-align: center;
  padding-top: 95px;
  padding-bottom: 95px;
}

.hotel-search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto 21px;
  width: 700px;
}

.hotel-serch-text {
  color: #333333;
  margin: 0 auto 53px;
  width: 700px;
}

.hotel-serch-link {
  display: inline-block;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756157;
  border-radius: 4px;
  box-sizing: border-box;
  width: 376px;
  padding: 8px 50px 8px 50px;
}

.hotel-serch-link:hover {
  background-color: #615048;
}

.hotel-serch-link:focus {
  outline: none;
  background-color: #615048;
}

.hotel-serch-link:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.30);

}

.subscribe {
  background-color: #82B3D3;
  background-image: url("../images/index/subscribe-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #FFFFFF;
  text-align: center;
  padding-top: 97px;
  padding-bottom: 104px;
}

.subscribe-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto 21px;
  width: 700px;
}

.subscribe-text {
  margin: 0 auto 53px;
  width: 545px;
}

.subscribe-form {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;

}

.subscribe-email {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  border-radius: 4px 0 0 4px;
  background-color: #F2F2F2;
  color: #000000;
  border: 0;
  width: 452px;
  box-sizing: border-box;
  padding: 12px 0 12px 20px;

}

.subscribe-email:hover {
  background-color: #E6E6E6;
}

.subscribe-email:focus-visible {
  outline: none;
  border: 3px solid #83B3D3;
  background-color: #E6E6E6;
  padding: 9px 0 9px 17px;
}

.subscribe-email:active {
  border: 2px solid #000000;
  font-weight: 700;
  padding: 9px 0 9px 17px;
}

.subscribe-button {
  font-family: inherit;
  color: #FFFFFF;
  background-color: #82B3D3;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  border-radius: 0 4px 4px 0;
  border: 0;
  width: 232px;
  box-sizing: border-box;
  padding: 9px 0 7px 0;

}

.subscribe-button:hover {
  background-color: #68A2CA;
}

.subscribe-button:focus {
  outline: none;
  background-color: #68A2CA;
}

.subscribe-button:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.30);
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: 46px;
  padding-bottom: 33px;
}

.social {
  list-style-type: none;
  box-sizing: border-box;
  margin: 0;
  width: 240px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 0 71px;
}

.social-item {}

.social-link {
  color: #83B3D3;
  width: 47px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link:hover {
  color: #68A2CA;
}

.social-link:focus {
  outline: none;
  color: #68A2CA;
}

.social-link:active {
  color: #68A2CA;
  opacity: 0.3;
}

.wrapper-phone {
  box-sizing: border-box;
  width: 720px;
  padding-left: 208px;

}

.phone {
  color: inherit;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration-line: none;
  display: block;
}

.phone:hover {
  color: #756157;
}

.phone:focus {
  outline: none;
  color: #756157;
}

.phone:active {
  color: rgba(117, 97, 87, 0.30);
}

.logo-html-link {
  width: 240px;
  box-sizing: border-box;
  padding: 2px 0 0 55px;
  color: #000000;
}

.logo-html-link:hover {
  color: #756157;
}

.logo-html-link:focus {
  outline: none;
  color: #756157;
}

.logo-html-link:active {
  color: #756157;
  opacity: 0.3;
}

.search-form {
  color: #FFFFFF;
  background-color: #82B3D3;
  background-image: url("../images/catalog/catalog/form-beck.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 70px 70px 70px;
}

.hotels-search {
  display: flex;
  flex-wrap: wrap;
}

.infrastructure-search {
  margin: 0 40px 0 0;
  padding: 0;
  border: none;
  width: 180px;
}

.form-title {
  padding: 0 0 31px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.infrastructure-search-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.infrastructure-search-item {
  margin: 0 0 13px;
}

.infrastructure-checkbox {}

.checkbox-label {
  font-size: 18px;
  line-height: 23px;
  position: relative;
  display: inline-block;
  padding-left: 36px;
}

.checkbox-label::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #FFFFFF;
  position: absolute;
  left: 0;
  top: 0;
}

.checkbox-label::after {
  content: "";
  width: 10px;
  height: 4px;
  border-left: 2px solid #3F5E72;
  border-bottom: 2px solid #3F5E72;
  background-color: #FFFFFF;
  position: absolute;
  transform: rotate(-45deg);
  left: 5px;
  top: 6px;
  display: none;
}

.infrastructure-checkbox:checked+.checkbox-label::after {
  display: block;
}

.checkbox-label:hover {
  opacity: 0.6;
}

.infrastructure-checkbox:focus+.checkbox-label::before {
  outline: 3px solid #83B3D3;
}

.infrastructure-checkbox:focus:not(:focus-visible)+.checkbox-label::before {
  outline: none;
}

.infrastructure-checkbox:focus-visible+.checkbox-label::before {
  outline: 3px solid #83B3D3;
}

.checkbox-label:active {
  opacity: 0.3;
}

.house-type {
  margin: 0 60px 0 0;
  padding: 0;
  border: none;
  width: 231px;
}

.house-type-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.house-type-item {
  margin-bottom: 13px;
}

.house-type-radio {}

.radio-label {
  font-size: 18px;
  line-height: 23px;
  display: inline-block;
  position: relative;
  padding-left: 36px;
}

.radio-label::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #FFFFFF;
  position: absolute;
  left: 0;
  top: 0;
}

.radio-label::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #3F5E72;
  position: absolute;
  left: 5px;
  top: 5px;
  display: none;
}

.house-type-radio:checked+.radio-label::after {
  display: block;
}

.radio-label:hover {
  opacity: 0.6;
}

.house-type-radio:focus+.radio-label::before {
  outline: 3px solid #83B3D3;
}

.house-type-radio:focus:not(:focus-visible)+.radio-label::before {
  outline: none;
}

.house-type-radio:focus-visible+.radio-label::before {
  outline: 3px solid #83B3D3;
}


.radio-label:active {
  opacity: 0.3;
}

.prices {
  margin: 0;
  padding: 0;
  border: none;
}

.prices-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0 2px;
}

.prices-item {
  display: inline-block;
  position: relative;
}

.prices-range {
  color: #000000;
  background-color: #F2F2F2;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  width: 143px;
  box-sizing: border-box;
  padding: 15px 28px 10px 20px;
  border: none;
  -moz-appearance: textfield;

}

.prices-range-min {
  border-radius: 4px 0 0 4px;
}

.prices-range-max {
  border-radius: 0 4px 4px 0;
}

.prices-range::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.prices-range::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.prices-range:hover {
  background-color: #E6E6E6;
}

.prices-range:focus {
  outline: 2px solid #83B3D3;
}

.prices-label {
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  opacity: 0.3;
  width: 20px;
  height: 24px;
  position: absolute;
  right: 18px;
  top: 50%;
  margin-top: -12px;
}