@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  background: #f2f2f2;
}

.wrapper {
  padding: 0 40px;
  height: auto;
  width: 1200px;

}

.visually-hidden {
  display: none;
}

.header {
  background: #fff;
}

.logo-link {}

.logo-img {}

.nav {}

.main-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-menu-item {}

.main-menu-link {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
}

.user-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.user-menu-item {}

.user-menu-link {
  text-decoration: none;
  color: #000000;
  text-align: center;
}

.user-menu-link-button {
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #756157;
  padding: 8px 50px;
  text-decoration: none;
}

.favourites-number {}

.main {}

.welcome {
  background-image: url("../images/index/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
}

.welcome-img {
  text-align: center;
  padding: 51px 371px 82px 371px;
}